body {
    background: #000;
    margin: 0;
    overflow: hidden;
}

#canvas_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app_canvas {
    width: min(100vw, 1.77777778 * 100vh);
}